<nav class="navbar navbar-dark bg-primary navbar-expand-lg">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a routerLink="/home" class="nav-link" routerLinkActive="active-link">Home</a>
        </li>
        <li class="nav-item">
            <a routerLink="/user" class="nav-link" routerLinkActive="active-link">User</a>
        </li>
      </ul>
    </div>
  </nav>