
<mat-card appearance="outlined">
    <mat-card-header>
      <mat-card-title>Update User</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <form class="mt-5" [formGroup]="userForm" (ngSubmit)="onSubmit()">
            <div class="row">
                <div class="col">
                    <mat-form-field class="full-width">
                        <mat-label>Enter your name</mat-label>
                        <input matInput formControlName="username">
                        @if (userForm.get('username')?.invalid) {<mat-error >{{updateErrorMessage('username')}}</mat-error>}
                    </mat-form-field>
                </div>
                <div class="col">
                    <mat-form-field class="full-width">
                        <mat-label>Enter your email</mat-label>
                        <input matInput placeholder="pat@example.com" formControlName="email"  />
                        @if (userForm.get('email')?.invalid) {<mat-error >{{updateErrorMessage('email')}}</mat-error>}
                    </mat-form-field>
                </div>
                <div class="col">
                    <mat-form-field class="full-width">
                        <mat-label>Enter your address</mat-label>
                        <input matInput placeholder="pat@example.com" formControlName="address"  />
                        @if (userForm.get('address')?.invalid) {<mat-error >{{updateErrorMessage('address')}}</mat-error>}
                    </mat-form-field>
                </div>
            </div>
        
            <div class="row">
                <div class="col">
                    <mat-form-field class="full-width">
                        <mat-label>Enter your phone</mat-label>
                        <input matInput formControlName="phone"  />
                        @if (userForm.get('phone')?.invalid) {<mat-error >{{updateErrorMessage('phone')}}</mat-error>}
                    </mat-form-field>
                </div>
                <div class="col">
                    <mat-form-field class="full-width">
                        <mat-label>Enter your website</mat-label>
                        <input matInput formControlName="website"  />
                        @if (userForm.get('website')?.invalid) {<mat-error >{{updateErrorMessage('website')}}</mat-error>}
                    </mat-form-field>
                </div>
                <div class="col">
                    <mat-form-field class="full-width">
                        <mat-label>Enter your company</mat-label>
                        <input matInput formControlName="company"  />
                        @if (userForm.get('company')?.invalid) {<mat-error >{{updateErrorMessage('company')}}</mat-error>}
                    </mat-form-field>
                </div>
            </div>
            <button (click)="navigateToList()" mat-raised-button color="warn"><mat-icon>keyboard_return</mat-icon> Back to list</button>
            <button type="submit" mat-raised-button color="primary">Update</button>
        </form>
    </mat-card-content>
  </mat-card>
